<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="org.apache.cordova.cordova-plugin-picker" version="0.1.0">
  <name>Picker</name>
  <description>Cordova Picker plugin to allow for more right interaction with select widget.</description>
  <license>Apache 2.0</license>
  <keywords>cordova,ios,picker,dynamic picker,dynamic select</keywords>
  <repo>https://github.com/mzbyszynski/cordova-plugin-picker.git</repo>
  <issue>https://github.com/mzbyszynski/cordova-plugin-picker/issues</issue>

  <js-module src="www/picker.js" name="picker">
    <clobbers target="navigator.picker" />
  </js-module>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="Picker">
        <param name="ios-package" value="CDVPicker" />
      </feature>
    </config-file>

    <header-file src="src/ios/CDVPicker.h" />
    <source-file src="src/ios/CDVPicker.m" />
    <header-file src="src/ios/CDVPickerViewController.h" />
    <source-file src="src/ios/CDVPickerViewController.m" />
  </platform>
</plugin>